.hero-wrapper {
  padding: 40px 20px 60px;
}

.hero-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
}

.hero-header h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}


.hero-header p {
  font-size: 18px;
  color: #6e6e6e;
  line-height: 1.6;
  padding: 15px 20px;
}

.course-container {
  display: flex;
  gap: 30px;
  color: var(--primary-color);
  padding: 20px;
  /* max-width: 1100px; */
  margin: 40px auto;
  border-radius: 12px;
}

.main-course-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 58%;
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  position: relative;
  height: 260px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px 12px 0 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  display: block;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(115, 61, 74, 0);
  transition: background 0.5s ease;
  pointer-events: none;
}

.image-wrapper:hover img {
  transform: scale(1.05);
}

.top-rated-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: white;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
  cursor: default;
}

.course-details {
  padding: 20px 30px 30px;
}

.category {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #733d4a;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

.category.small {
  font-size: 11px;
}

.course-details h2 {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 26px;
}

.course-details p {
  font-size: 16px;
  line-height: 1.5;
  color: #6e6e6e;
  margin-bottom: 22px;
}

.info-row {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
  font-weight: 600;
  color: #4b4148;
  font-size: 14px;
}

.duration {
  /* margin-right: 6px; */
  display: flex;
  align-content: center;
  /* flex-wrap: wrap; */
  gap: 6px;
}

.info-row.small {
  font-size: 13px;
  margin-top: 6px;
}


.degree {

  display: flex;
  gap: 6px;
  font-weight: bold;
}

.learn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #733d4a;
}

.learn-more-link {
  text-decoration: none;
  color: #733d4a;
}

.learn-more-link:hover {
  text-decoration: underline;
}
.enrolled p{
  align-items: center;
  margin: 0;

}

.learn-more .enrolled {
  display: flex;
  gap: 6px;
  align-items: center;
/* justify-content: center; */
  font-weight: 500;
  font-size: 14px;
}

.side-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 40%;
}

.side-card {
  background: white;
  border-radius: 12px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: background 0.2s ease;
}

.side-card:hover {
  transform: translatey(2%);
  background-color: #63081f4c;
}


.side-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}


.side-details {
  flex-grow: 1;
}

.side-details h3 {
  margin: 0 0 6px 0;
  font-weight: 600;
  font-size: 18px;
  color:var(--primary-color);
}

.side-details p {
  margin: 0;
  font-size: 12px;
  color: #6e6e6e;
  line-height: 1.2;
  overflow: hidden;
}


.arrow {
  font-size: 20px;
  color: #733d4a;
  user-select: none;
  font-weight: bolder;
  width: 30px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  background-color: transparent;
}